-# frozen_string_literal: true
= simple_form_for(@payment_method) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, label: 'Nome'
    = f.input :message, label: 'Mensagem de feedback'

  %br

  .form-actions
    = f.submit 'Salvar método de pagamento', class: 'btn btn-success'
