%p#notice= notice

%p
  %b Name:
  = @payment_method.name
%p
  %b Message:
  = @payment_method.message

= link_to 'Edit', edit_payment_method_path(@payment_method)
\|
= link_to 'Back', payment_methods_path
