%p#notice= notice

.card{:style => "width: 400px; max-width: 100%"}
  .card-body
    %h5.card-title Método de pagamento
    %hr

    %text Nome:
    %strong= @payment_method.name
    %br
    %text Mensagem de feedback:
    %strong= @payment_method.message
  .card-footer
    = link_to 'Voltar', payment_methods_path, class: 'btn btn-light'
    = link_to 'Editar', edit_payment_method_path(@payment_method), class: 'btn btn-primary float-right'
