-# frozen_string_literal: true
= simple_form_for(@client) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, label: 'Nome'
    = f.input :billing_day, label: 'Dia de cobrar'

  %br

  .form-actions
    = f.submit 'Salvar cliente', class: 'btn btn-success'
