%h1 Clientes

%table.table
  %thead
    %tr
      %th Nome
      %th Cobrado em
      %th Dia de cobrança
      %th
      %th
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.name
        %td= format_date(client.last_billed_at)
        %td= client.billing_day
        %td= link_to 'Ver', client, class: 'text-success'
        %td= link_to 'Editar', edit_client_path(client), class: 'text-info'
        %td= link_to 'Excluir', client, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'text-danger'

%br

= link_to 'Novo Cliente', new_client_path, class: 'btn btn-secondary'
