%p#notice= notice

.card{:style => "width: 400px; max-width: 100%"}
  .card-body
    %h5.card-title Cliente
    %hr

    %text Nome:
    %strong= @client.name
    %br
    %text Cobrança mais recente:
    %strong= format_date(@client.last_billed_at)
    %br
    %text Dia de cobrança:
    %strong= @client.billing_day
    %br
    %text Forma de pagamento:
    %strong= @client.payment_method_name
    %br
    %br
    = link_to 'Forma de pagamento', edit_client_payment_path(@client), class: 'btn btn-secondary'
  .card-footer
    = link_to 'Voltar', clients_path, class: 'btn btn-light'
    = link_to 'Editar', edit_client_path(@client), class: 'btn btn-primary float-right'
