%h1 Todas as cobranças

.table-responsive
  %table.table.align-middle
    %thead
      %tr
        %th Data da cobrança
        %th Cliente
        %th Forma de pagamento
        %th
        %th
        %th

    %tbody
      - @billings.each do |billing|
        %tr
          %td= format_date(billing.accounted_at)
          %td= link_to billing.client.name.capitalize, client_path(billing.client)
          %td= billing.payment_method.name
          %td= link_to 'Ver', billing, class: 'text-success'
          %td= link_to 'Editar', edit_billing_path(billing), class: 'text-info'
          %td= link_to 'Excluir', billing, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'text-danger'

%br

= link_to 'Fazer cobrança', new_billing_path, class: 'btn btn-secondary'
