%p#notice= notice

%p
  %b Accounted at:
  = @billing.accounted_at
%p
  %b Client:
  = @billing.client
%p
  %b Payment Method:
  = @billing.payment_method

= link_to 'Edit', edit_billing_path(@billing)
\|
= link_to 'Back', billings_path
