!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BillingProject
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg
      .container-fluid
        %img{src: 'https://pa1.narvii.com/6507/3b12357d80b8425c198926c27bf59b35d0169291_hq.gif', alt: 'Don\'t mind me, I\'m just passing by...'}
        %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavAltMarkup", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav
            = link_to "Cobranças", billings_path, class: 'nav-link'
            -# = link_to "Cobranças do dia", day_billings_path, class: 'nav-link'
            = link_to "Clientes", clients_path, class: 'nav-link'
            = link_to "Métodos de pagamento", payment_methods_path, class: 'nav-link'
    .content
      = yield
